@using myBlog.Models;
@using myBlog.Models.ViewModels
@{
    Layout = null;
    List<Post> postList = ViewBag.postList as List<Post>;
    List<vPost> posts = ViewBag.posts as List<vPost>;
}

<!doctype html>
<html>
<head>
    <meta charset="gb2312">
    <title>尹逸朋的个人博客——主题《如影随形》</title>
    <meta name="keywords" content="尹逸朋的个人博客" />
    <meta name="description" content="如影随形主题的个人博客。" />
    <link href="../Content/base.css" rel="stylesheet">
    <link href="../Content/style.css" rel="stylesheet">
    <link href="../Content/media.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
</head>
<body>
    <div class="ibody">
        <header>
            <h1>如影随形</h1>
            <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
            <div class="logo"><a href="/"></a></div>
            <nav id="topnav"><a href="/Home/Index">首页</a><a href="/Home/About">关于我</a><a href="/Home/Slive">慢生活</a><a href="/Home/Share">资源分享</a><a href="/Home/Message">留言</a></nav>
        </header>
        <article>
            <h2 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="#">慢生活</a></h2>
            <div class="bloglist">
                @foreach(vPost post in posts)
                {
                   <div class="newblog">
                       <ul>
                           <h3><a href="/Home/PostMore?id=@post.ID">@post.Title</a></h3>
                           <div class="autor"><span>作者：@post.Author</span><span>分类：[<a href="/">@post.Classify</a>]</span><span>浏览（<a href="/">@post.Browse</a>）</span><span>评论（<a href="/">@post.ReplyCount</a>）</span></div>
                           <p>@post.Content<a href="/Home/PostMore?id=@post.ID" target="_blank" class="readmore">全文</a></p>
                       </ul>
                       <figure><img src="../images/001.jpg"></figure>
                       <div class="dateview">@post.DateOfIssue.ToShortDateString()</div>
                </div>
                }
            </div>
            <div class="page"><a title="Total record"><b>113</b></a><b>1</b><a href="/">2</a><a href="/">3</a><a href="/">4</a><a href="/">5</a><a href="/">&gt;</a><a href="/">&gt;&gt;</a></div>
        </article>
        <aside>
            <div class="rnav">
                <li class="rnav1 "><a href="/">日记</a></li>
                <li class="rnav2 "><a href="/">欣赏</a></li>
                <li class="rnav3 "><a href="/">程序人生</a></li>
                <li class="rnav4 "><a href="/">经典语录</a></li>
            </div>
            <div class="ph_news">
                <h2>
                    <p>点击排行</p>
                </h2>
                <ul class="ph_n">
                    <li><span class="num1">1</span><a href="/Home/PostMore?id=@postList[0].ID">@postList[0].Title</a></li>
                    <li><span class="num2">2</span><a href="/Home/PostMore?id=@postList[1].ID">@postList[1].Title</a></li>
                    <li><span class="num3">3</span><a href="/Home/PostMore?id=@postList[2].ID">@postList[2].Title</a></li>
                    <li><span>4</span><a href="/Home/PostMore?id=@postList[3].ID">@postList[3].Title</a></li>
                    <li><span>5</span><a href="/Home/PostMore?id=@postList[4].ID">@postList[4].Title</a></li>
                    <li><span>6</span><a href="/Home/PostMore?id=@postList[5].ID">@postList[5].Title</a></li>
                    <li><span>7</span><a href="/Home/PostMore?id=@postList[6].ID">@postList[6].Title</a></li>
                    <li><span>8</span><a href="/Home/PostMore?id=@postList[7].ID">@postList[7].Title</a></li>
                    <li><span>9</span><a href="/Home/PostMore?id=@postList[8].ID">@postList[8].Title</a></li>
                </ul>
                <h2>
                    <p>栏目推荐</p>
                </h2>
                <ul>
                    @foreach(vPost post in posts)
                    { 
                          <li><a href="/Home/PostMore?id=@post.ID">@post.Title</a></li>
                    }
                </ul>
                <h2>
                    <p>最新评论</p>
                </h2>
                <ul class="pl_n">

                    @foreach(vPost post in posts)
                    {
                       <dl>
                           <dt><img src="images/s8.jpg"> </dt>
                           <dt> </dt>
                           <dd>
                               @post.Author
                               <time>49分钟前</time>
                           </dd>
                           <dd><a href="/">@post.Author</a></dd>
                       </dl>
                    }
                    
                </ul>
                <h2>
                    <p>最近访客</p>
                    <ul>
                        <img src="images/vis.jpg"><!-- 直接使用“多说”插件的调用代码 -->
                    </ul>
                </h2>
            </div>
            <div class="copyright">
                <ul>
                    <p> Design by <a href="/">梦里梦到他梦她</a></p>
                    <p>蜀ICP备11002373号-1</p>
                    </p>
                </ul>
            </div>
        </aside>
        <script src="../Scripts/silder.js"></script>
        <div class="clear"></div>
        <!-- 清除浮动 -->
    </div>
</body>
</html>
